<!DOCTYPE html>
<html>
<head>
	<title>Privacy Policy - Movie Database</title>
	<style>
		body {
			background-color: #f7f7f7;
			font-family: Arial, sans-serif;
			color: #444;
		}

		h1 {
			color: #0085a1;
			font-size: 36px;
			margin-top: 50px;
			text-align: center;
			text-shadow: 1px 1px #eee;
		}

		p {
			font-size: 18px;
			margin: 50px auto;
			max-width: 800px;
			text-align: justify;
			line-height: 1.5;
		}
	</style>
</head>
<body>
	<h1>Privacy Policy</h1>
	<p>We take your privacy seriously. This privacy policy describes what personal information we collect and how we use it.</p>
	<p>We collect information such as your name, email address. We also collect anonymous usage data to help us improve our website and services.</p>
	<p>We do not sell or share your personal information with third parties, except in cases where we are required to by law or to protect our rights.</p>
	<p>If you have any questions or concerns about our privacy policy, please contact us at privacy@moviedatabase.com.</p>
</body>
</html>
